html
{
  scroll-behavior: smooth;
}

body
{
  margin: 0;
  font-family: 'Kotta One', serif;
}

a
{
  text-decoration: none;
}

.shadow
{
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}


/*=============================================================================================*/
/*FOR THE TOP HEADER/NAVIGATION BAR*/

/* Add a black background color to the top navigation */
.top_navigation 
{
  position: fixed; /*so that always stays on top*/
  width: 100%;
  z-index: 1;
  background: rgb(0,0,0);
  overflow: hidden;
}

/*change background color on hover*/
.top_navigation:hover 
{
  background-color: ivory;
  border-bottom: 1px solid black;
}

/*change color of the text*/
.top_navigation:hover a
{
  color: black;
}

/*changing color of 'shop now' which is not a link*/
.top_navigation:hover .dropdown
{
  color: black;
}

/*Style the links inside the navigation bar*/
.top_navigation a 
{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  width: 10%;
  min-width: 120px;
}

/*for 'contact us' to be right aligned*/
.top_navigation a.right 
{
  float: right;
  border-left: 1px solid yellow;
}

/* Change the color of links on hover */
.top_navigation a:hover 
{
  background-color: gainsboro;
}

/*Style 'shop now'*/
.dropdown 
{
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  margin: 0;
  width: 10%;
  min-width: 120px;
}

/*Style the dropdown menu*/
.dropdown_list
{
  display: none;
  position: fixed;
  top: 48px;
  left: 12.2%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 15%;
  min-width: 150px;
}

/*Style the links inside dropdown menu*/
.dropdown_list a
{
  display: block;
  text-align: left;
  background-color: ivory;
  width: 100%;
}

/*to show dropdown menu*/
#dc:hover .dropdown_list 
{
  display: block;
}


/*=================================================================================*/
/*FOOTER*/

footer
{
  margin: 0;
  height: auto;
  background: rgba(0,0,0,0.85);
}

footer p
{
  font-size: 14pt;
  padding-left: 50px;
  color: grey;
  /*border: 1px solid yellow;*/
}

h4
{
  font-size: 24pt;
  font-family: 'Katibeh', cursive;
  margin: 20px;
  color: ivory;
}

/*top block of footer i.e. footer part 1*/
.info
{
  display: flex;
  width: 100%;
  height: 250px;
  margin: 0 auto;
  padding: 25px 0px;
}

/*Style Bodacious Black info*/
.BB
{
  display: inline-block;
  flex: 1;
  margin: 0;
  text-align: center;
}

/*style contact info*/
.contact
{
  display: inline-block;
  flex: 1;
  font-size: 16pt;
  margin: 0;
  text-align: center;
  color: grey;
}

.contact a
{
  color: grey;
  font-size: 16pt;
}

/*to highlight links*/
.contact a:hover
{
  color: white;
}

footer .contact span
{
  font-size: 12pt;
}

/*for social media icons*/
.social
{
  padding-top: 30px;
  flex: 0.2;
  text-align: left;
}

footer .social a
{
  text-decoration: none;
  font-size: 18pt;
  color: grey;
}

.social a:hover
{
  color: white;
}

/*bottom part of footer i.e. the copyright section*/
.copyright
{
  text-align: center;
  max-width: 100%;
  display: block;
  background: rgba(0,0,0,0.9);
  width: 100%;
  height: auto;
  padding: 10px 0px;
  color: darkgrey;
  /*line-height: 37.5px;*/
}

footer .copyright p
{
  font-size: 16pt;
  padding: 0px;
  color: grey;
}
